*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* every element will inherit border box from body */
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

html {
  /* default browser font-size is 16px and we need 10px to be default
         so we need that in % so the user can change default size
         when he zoom in or something else
         and we need 10% beacause we gonna use rem 
         1 rem is gonna be 10px 
         rem takes root font-size as a reference
      */
  font-size: 62.5%;
}
