// Colors
$color-light-green: #7ed56f;
$color-medium-green: #55c57a;
$color-dark-green: #28b485;

$color-gray-light-1: #faf4f4;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// FONT
$default-font-size: 1.6rem;
